{{!< default}}
{{> "navbar" }}
<div class="site-wrapper">
    <div class="hero-section">
        <div class="concrete-gradient"></div>
        <div class="profile-container">
            <div class="profile-wrapper">
                <img src="{{@site.logo}}" alt="Sergey" class="profile-image">
            </div>
        </div>
    </div>

    <main class="content-section">
        <div class="content-wrapper">
            <div class="intro-content">
                <p class="name">sergey z</p>
                <p class="tagline">product engineer</p>
                <p class="intro-text">
                    leading engineering teams in building business critical web applications
                </p>
                <p class="about-text">
                    over <pre id="num-work-years"></pre> years, i’ve been developing innovative solutions across industries such as consumer devices, construction, finance, telecommunications, and business intelligence. i always strive to create simple, intuitive user experiences that drive engagement
                </p>
                <p class="about-text">
                    in the last <span id="num-startup-years"></span> years, i’ve been tackling complex, high-uncertainty projects within fast-paced startup environments. these projects required extensive experimentation, cross-disciplinary collaboration, thoughtful system design and planning. they also involved analyzing user behavior and multiple iterations to refine the user experience
                </p>
                <p class="about-text">
                    recently, i’ve been working on agentic systems utilizing llms, as well as visual and audio models. i’ve also been involved in developing data annotation platforms for model training. check my work experience <a class="inline-link" href="/experience">here</a> to explore the projects and roles that have shaped my expertise
                </p>
            </div>

            <section class="info-section">
                <p class="title">what i'm doing right now</p>
                <ul class="current-list">
                    <li><span class="info-icon">🛠️</span>leading the development of teach mode, an ai-powered web automation framework.</li>
                    <li><span class="info-icon">🤖</span> building next-generation general-purpose ai web agents that execute tasks for users.</li>
                    <li><span class="info-icon">☁️ </span> building cloud-based ai-driven products.</li>
                </ul>
            </section>

            <section class="info-section">
                <p class="title">let's collaborate</p>
                <p class="collab-text">
                    while my current role keeps me busy, i'm always interested in connecting with people about innovative ideas or meaningful projects. feel free to reach out on linkedin or email me at <a href="mailto:contact@sergeycoder.com" class="inline-link">contact@sergeycoder.com</a>
                </p>
            </section>

            <footer class="site-footer">
                <p class="copyright">© 2024 all rights reserved</p>
            </footer>
        </div>
    </main>
</div>
